.modal-backdrop.in {
    opacity: .5;
    filter: alpha(opacity=50);
}

.modal-backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1030;
    background-color: #73808c;
}

#info section {
    float: left;
    margin: 10px 30px 10px 20px;
    margin-right: 40px;
}

#instructions{
    position: absolute;
    top: 30px;
    left: 30px;
}

#paramInfos{
    position: absolute;
    top: 30px;
    right: 30px;
}